@model ShopNowBL.Models.tblStore
@{
    ViewBag.Title = "addStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card mb-4">
            <h5 class="card-header">Add Store</h5>
            <hr class="my-0" />
            <div class="card-body">

                @using (Html.BeginForm("saveStore", "Store", FormMethod.Post))
                {
                    <div class="row ">
                        <div class="mb-3 col-md-6">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Store Name</label>

                            @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control", pattern = "[a-zA-Z][a-zA-Z ]{2,}", required = "required", autofocus = true } })

                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">Address</label>

                            <div class="input-group input-group-merge">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })




                            </div>
                        </div>
                        <div class="mb-3 col-md-6">

                            <label class="col-sm-2 col-form-label" for="basic-default-city">City</label>

                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", pattern = @"^[a-zA-Z',.\s-]{1,25}$", required = "required" } })


                        </div>
                        <div class="mb-3 col-md-6">

                            <label class="col-sm-2 col-form-label">Contact No</label>

                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", pattern = @"^!*(\d!*){10,}$", @required = "required" } })


                        </div>
                        <div class="mb-3 col-md-6">

                            <label class="col-sm-2 col-form-label">Started Date</label>

                            @Html.EditorFor(model => model.StartedDate, new { htmlAttributes = new { @class = "form-control", @type = "date", max = DateTime.Now.ToString("yyyy-MM-dd"), required = "required" } })


                        </div>
                    </div>


                    <div class="mt-1">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                }

            </div>
        </div>




    </div>
</div>



